<h1>Zendesk Ticket Viewer</h1>
<h2>Tickets displayed: <%= @tickets.size %></h2>


<br>
<br>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Created At</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.subject, ticket_path(ticket.id) %></td>
        <td><%= ticket.created_at %></td>
        <td><%= ticket.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @has_prev_page %>
  <%= link_to 'Prev', tickets_path(page: @page - 1) %> | 
<% end%>

<% if @has_next_page %>
  <%= link_to 'Next', tickets_path(page: @page + 1) %> 
<% end %>
