<p>
  <h2> <%= @ticket.subject %>:</h2>
  <%= @ticket.description %>
</p>

<p>
  Created at <%= @ticket.created_at %> 
  with requester ID <%= @ticket.requester_id %>
</p>

<p>
  <h2><%= @ticket.status.capitalize %></h2>
</p>

<%= link_to 'Back', tickets_path %>